*.csv
*.log
*.log.gz
.cursorignore
node_modules/
build/

# Test coverage
coverage/

# TypeScript cache
*.tsbuildinfo

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ouput files
output/*